@import "tailwindcss";



@theme {
  --color-ololt-green: #86c340;
  --color-ololt-dark: #18252c;
  --color-ololt-darkgreen: #3c6012;
  --color-ololt-rgbgreen: #78C81E;
  --color-ololt-orange: #ffa600;

  --font-sans: "Roboto", ui-sans-serif, system-ui;
  --font-condensed: "Roboto Condensed", sans-serif;
}
